/*no se por que no se ve nada*/
/*color bonito claro #FFEAEE ; color de atras #FFB6C1 body #FFEDF0 #CC66FF
*/




body {
	background-color: #FFB3E6 ;

}

.header {
		padding: auto ;
		margin-bottom: 5px ;
}

.header img {
	border-width: 3px ;
	border-style: hidden;
	border-radius: 8px;
}

.menu {
	background-color: #FF85BF;
	border-radius: 8px;
	font-family: verdana;
	overflow: hidden;
}

.menu a {
	padding: 14px 20px;
	text-align: center;
	float: left ;
	display: block;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-color: currentcolor;
	color: white;
	border-radius: 8px ;
}

.menu a:hover {

				background-color: white;
				color: #FF85BF;
}

.contenedor {
			border-style: solid ;
			border-width: 6px;
			border-color:  #FF85BF ;
			border-radius: 12px ;

			/*margin: 70px;*/
			margin-top: 70px ;
			margin-bottom: 70px;
			margin-left: 150px;
			margin-right: 150px;
			background-color: white ;
			text-align: center ;
			padding-top: 10px;
			padding-bottom: 20px;
			}

#tylerim {
	border-width: 5px ;
	border-style: solid ;
	border-color: #FF85BF ;
	border-radius: 12px;
}

.tyler p {
	padding-right: 30px;
	padding-left: 30px;
}

.tyler {
	font-family: "Lucida Sans Unicode", monospace;


}

.hola {
	font-family: verdana;
	margin-bottom: 50px
	}

span {
	color: #FF1AFF ;
}
p { color: #FF66FF
;}

footer {
	display: block;
	background-color: white;
	text-align: center;
	border-width: 5px;
	border-radius: 50px;
	border-color: #FF85BF;
	border-style: solid;
	padding: 4px;

}

footer p {
	color: #FF1AFF;
	font-family: verdana;
}
