/*no se por que no se ve nada*/
/*color bonito claro #FFEAEE este oscuro #FFB6C1*/
body {background-color:  
#FFEDF0}

.contenedor {
			border: 5px solid #FF85BF
;
			margin: 70px

			}

h1, .tyler {text-align: center

		}		
img {border: 2px solid #FF85BF
}
span {
	color: #CC66FF 
}
p { color: #FF66FF}